<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Izin untuk membaca penyimpanan eksternal -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Izin untuk menulis ke penyimpanan eksternal (jika diperlukan) -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Izin untuk akses penuh ke penyimpanan eksternal (Android 11 ke atas) -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />


    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/sapa_icon"
        android:roundIcon="@mipmap/sapa_icon_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SAPA">
        <activity
            android:name=".view.settingsAccount.SettingsAccountActivity"
            android:exported="false" />
        <activity
            android:name=".view.textToSpeech.TextToSpeechActivity"
            android:exported="false" />
        <activity
            android:name=".view.speechToText.SpeechToTextActivity"
            android:exported="false" />
        <activity
            android:name=".view.reset.ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".view.main.MainActivity"
            android:exported="false" />
        <activity
            android:name=".view.signup.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".view.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".view.welcome.WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>